// $name 定位类型  $position 上 右 下 左
@mixin pos($name, $position) {
  position: $name;
  top: nth($position,1);
  right: nth($position,2);
  bottom: nth($position,3);
  left: nth($position,4);
}
// 大小 $size 宽度 高度
@mixin size($size){
  $w:nth($size,1);
  $h:$w;
  @if (length($size)==2){
    $h:nth($size,2);
  }
  width: $w;
  height: $h;
}
// 箭头左 宽度 高度 颜色
@mixin arrowL($width,$height,$color){
  border: $height/2 solid transparent;
  border-right: $width solid $color;
  border-left: none;
}
// 箭头右 宽度 高度 颜色
@mixin arrowR($width,$height,$color){
  border: $height/2 solid transparent;
  border-left: $width solid $color;
  border-right: none;
}
// 箭头上 宽度 高度 颜色
@mixin arrowT($width,$height,$color){
  border: $width/2 solid transparent;
  border-bottom: $height solid $color;
  border-top: none;
}
// 箭头下 宽度 高度 颜色
@mixin arrowB($width,$height,$color){
  border: $width/2 solid transparent;
  border-top: $height solid $color;
  border-bottom: none;
}
// 背景图定位 宽度 高度 位置(top right bottom left) 背景图
@mixin initImgPos($val){
    @include size(nth($val,1) nth($val,2));
    @include pos(absolute,nth($val,3) null null nth($val,4));
    @include bg(nth($val,5))
}
// contain的背景图
@mixin bg($url,$size:contain){
    background: url(#{$url}) no-repeat center;
    background-size: #{$size};
}
// 多背景 地址前置 地址后缀 张数 高度 最后一个高度
@mixin bgs($urlPrefix, $urlSuffix, $len, $h, $lastH, $w:750px) {
  $bg: '';
  @for $i from 1 through $len {
    $url: url(#{$urlPrefix}#{$i}#{$urlSuffix}) no-repeat;
    @if $i==1 {
      $bg: $url center 0/#{$w} $h, ;
    }
    @else if $i==$len {
      $bg:append($bg, $url center #{($i - 1)*$h}/$w $lastH);
    }
    @else {
      $bg:append($bg, $url center #{($i - 1)*$h}/$w $h);
    }
  }
  background:$bg;
}


