@import '../../assets/css/reset.css';
html, body, #page-index{
    height: 100%;
}

// 定位
@mixin elePos($val){
    width: nth($val,1);
    height: nth($val,2);
    position: absolute;
    top: nth($val,3);
    left: nth($val,4);
    background-image: url(../../assets/img/#{nth($val,5)});
    background-repeat: no-repeat;
    background-size:contain;
}
// 动画
@mixin aniInit($val){    
    width: nth($val,1);
    height: nth($val,2);
    position: absolute;
    top: nth($val,3);
    left: nth($val,4);
    background-image: url(../../assets/img/ani/#{nth($val,5)});
    background-repeat: no-repeat;
    background-size:cover;
    @if nth($val,6) == 'three' {
       animation: #{nth($val,6)} #{nth($val,7)} steps(3,end) infinite;
    } @else {
       animation: #{nth($val,6)} #{nth($val,7)} steps(4,start) infinite;
    }
    
}

$star: (58px, 147px,  90px, 82px, 'star.png', 'three', 2s);
$clound: (67px, 40px,  49px, 585px, 'clound.png', 'three', 10s);
$cloundred: (121px, 100px,  309px, 0px, 'clound-red.png', 'three', 4s);
$cloundgreen: (121px, 100px,  560px, 639px, 'clound-green.png', 'three', 4s);
$swing: (208px, 366px,  0px, 606px, 'swing.png', 'three', 2s);
$bagback: (122px, 136px, 780px, 558px, 'bagback.png', 'three', 2s);
$personsnow: (110px, 160px,  955px, 561px, 'personsnow.png', 'three', 2s);
$personsit: (181px, 154px,  231px, 181px, 'personsit.png', 'three', 2s);
$repacket: (190px, 204px,  560px, 0px, 'repacket.png', 'three', 1s);
$women1: (98px, 195px,  865px, 320px, 'women1.png', 'three', 2s);
$women2: (120px, 151px,  1000px, 206px, 'women2.png', 'three', 1s);
$fuzi: (150px, 207px,  840px, 426px, 'fuzi.png', 'three', 2s);
$pig: (404px, 312px, 770px, 0px, 'pig.png', 'four', 2s);

@keyframes swing{
    0%{
        transform: rotate(-5deg)
    }
    100%{
        transform: rotate(5deg)
    }
}
@keyframes three{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 150% 0;
    }
}

@keyframes four{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 100% 0;
    }
}
@keyframes moveleft{
    0%{
        transform: translate(0,0)
    }
    100%{
       transform: translate(-30%,0)
    }
}

@keyframes moveright{
    0%{
        transform: translate(0,0)
    }
    100%{
       transform: translate(40%,0)
    }
}
@keyframes movetop{
    0%{
        transform: translate(-350%,0)
    }
    100%{
       transform: translate(40%,0)
    }
}

.c-page-1{
    width: 100%;
    height: 100%;
    background-image:url(../../assets/img/bg.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;

    .s-star{
        @include elePos($star)
    }

    .s-clound{
        @include elePos($clound);
        animation: movetop 20s infinite alternate linear;
    }
    .s-clound-red{
        @include elePos($cloundred);
        animation: moveleft 2s infinite alternate linear;
    }
    .s-clound-green{
        @include elePos($cloundgreen);
        animation: moveright 3s infinite alternate linear;
    }

    .s-swing{
        @include elePos($swing);
        transform-origin: 100% 30%;
        animation: swing 4s linear infinite alternate;
    }

    .s-bag-back{
        @include aniInit($bagback)
    }

    .s-person-snow{
        @include aniInit($personsnow);
    }

    .s-person-sit{
        @include elePos($personsit)
    }

    .s-repacket{
        @include aniInit($repacket)
    }  
    .s-women-1{
        @include aniInit($women1)
    }   
    .s-women-2{
        @include aniInit($women2)
    } 
    .s-fuzi{
        @include aniInit($fuzi)
    }   
    .s-pig{
        @include aniInit($pig);
        background-image: url(../../assets/img/ani/pig.png);
        background-position: 100% 0;
        // z-index: 200
    }
    .s-chai{
        width: 175px;
        height: 175px;
        position: absolute;
        top: 691px;
        left: 288px;
        z-index: 200;
        border-radius: 50% 50%;
        background-image: url(../../assets/img/chai.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        animation: run 1s infinite alternate linear;
    }
}
@keyframes run{
    0%{
        transform: scale(.8)
    }
    100%{
        transform: scale(1)
    }
}

//过渡效果
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
  
