doctype html
html
  head
    block title
    include ./_meta.pug
    include ./_style.pug
    include ./_script.pug
  body
    block body
    div#global-loading
      .global-loading
        div.logo
        div.shadow
    div#app
    block script
