meta(charset="utf-8")
meta(name="keywords", content="in,图片社交,贴纸,大头,相机,专业滤镜")
meta(name="description", 
  content="时下最in的图片社交软件，滤镜、贴纸、标签、大头，让照片惊艳众人！你生活中的每个瞬间，都值得被in记录。")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="format-detection", content="telephone=no")
meta(name="format-detection", content="email=no")
