@import '../../assets/css/reset.css';
html, body, #page-index{
    height: 100%;
}
// 定位
@mixin elePos($val){
    width: nth($val,1);
    height: nth($val,2);
    position: absolute;
    top: nth($val,3);
    left:nth($val,4);
    background-image: url(../../assets/img/#{nth($val,5)});
    background-repeat: no-repeat;
    background-size:contain;
}
$in: (311px, 38px, 26px, 410px, 'in.png');
$timer: (306px, 337px,  835px, 220px, 'timer.png');
$yuanxiao: (518px, 156px,  1000px, 100px, 'want.png');
.c-page-1{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    video{
        height: 100%;
        width: 100%;
    }
    #videocurtain{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    
    .paused{
        background-image: url(../../assets/img/play.png);
        background-repeat: no-repeat;
        background-size: 110px 110px;
        background-position: center;
    }
    .s-in{
        @include elePos($in)
    }
    .s-timer{
        @include elePos($timer)
    }
    .yuanxiao-btn{
        width: 518px;
        height: 156px;
        position: absolute;
        bottom: 15px;
        left: 100px;
        background-image: url(../../assets/img/want.png);
        background-repeat: no-repeat;
        background-size:contain;
    }
    .chaitime{
        pointer-events: none;
    }
    .notchai:before, .chai:before, .alreadychai:before{
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .notchai:before, .chai:before{
        content:"拆";
    }
    .s-chai{
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        position: absolute;
        top: 156px;
        left: 82px;
        border-radius: 50% 50%;
        color: #e73545;
        font-size: 50px;
    }
}


//过渡效果
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
  
